<main>
    <h1>Ettrics</h1>
    <p>Google Now inspired info cards.</p>
    <p><a href="https://twitter.com/ettrics"><i class="fa fa-twitter"></i></a></p>
</main>
<ul>
    <li class="card" *ngFor="let list of lists">
        <div class="card__flipper">
            <div class="card__front">
                <p class="card__name"><span>Active</span><br>{{ list.name }}</p>
                <p class="card__num">{{ list.empty_slots }}</p>
                <p> boş bisiklet bulunmakta</p>
                <p><a target="_blank" class="btn btn-dark" href="https://www.google.com/maps?daddr={{list.latitude}},{{list.longitude}}">Konumu Gör</a>  </p>
            </div>
            <div class="card__back">
                <svg height="180" width="180">
                    <circle cx="90" cy="90" r="55" stroke="#514d9b" stroke-width="35"  />
                </svg>
                <p>Toplam Bisiklet Sayısı</p>
                <span>{{ list.empty_slots + list.free_bikes}}</span>
            </div>
        </div>
    </li>
</ul>
